body {
  background-color: #f4d9ec;
}

.titulo {
  text-align: center;
  color: #9e3f78;
  margin-bottom: 10px;
}

.titulo h1 {
  font-size: 50px;
  margin-top: 30px;
}

.titulo h2 {
  font-size: 30px;
  margin: 30px;
}

@media all and (min-width: 720px) {
  .sidebar {
    display: flex;
    justify-content: space-between !important;
    text-decoration-color: #000;
    margin: 1%;
    grid-area: sidebar;
    text-align: center;
  }


  .sidebar li {
    display: inline;
  }
}

button {
  border-radius: 5px !important;
  background-color: #f4d9ec !important;
  border: #9e3f78 !important;
  color: #9e3f78 !important;
  margin-top: 25%;
}

button a {
  color: #9e3f78 !important;
  text-decoration: none !important;
}

.imagen_side {
  display: flex;
  height: 30%;
}

.imagen_side img {
  border: 2px;
  width: 50%;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.slideimg {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.imagen_pasante {
  position: absolute;
  margin-top: 50px;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 8s infinite;
  height: 250px;
  width: 250px;
  white-space: nowrap;
}

img:nth-child(1) {
  animation-delay: 2s;
}

img:nth-child(2) {
  animation-delay: 4s;
}

img:nth-child(3) {
  animation-delay: 6s;
}

img:nth-child(4) {
  animation-delay: 8s;
}

.botonera_con_imagenes {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.botonera {
  list-style: none;
  margin: 1%;
  margin-left: 15%;
  flex-wrap: wrap;
}

.botonera p {
  border-radius: 5px !important;
  background-color: #f4d9ec !important;
  border: #9e3f78 1px !important;
  color: #9e3f78 !important;
  text-decoration: none !important;
  text-align: center;
}


@media all and (min-width: 720px) {
  .productos div {
    display: flex;
    border: 2px;
    margin: 5%;
    justify-content: center;
  }

  .image-container-productos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container-productos img {
    height: 300px;
    width: 300px;
    margin: 5%;
  }
}

@media (max-width: 719px) and (min-width: 300px) {
  .image-container-productos {
    display: flex;
    border: 2px;
    margin: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container-productos img {
    max-height: 30%;
    max-width: 30%;
    margin: 5%;
  }
}

.slideimg {
  margin: 15px;
}

.iconos {
  height: 50px;
  width: 50px;
}

footer {
  background-color: #e4bcd4;
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: right;
}

.quienesSomos {
  margin: 50px;
  color: #9e3f78;
  font-size: large;
  font-weight: bold;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-item {
  font-weight: bold;
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  color: #9e3f78;
}

.cart-item img {
  max-width: 100%;
}

.item-details h2 {
  margin-top: 0;
}

p {
  margin: 5px 0;
}

.titulo-carrito {
  margin: 100px;
  text-align: center;
  margin-bottom: 30px;
  color: #9e3f78;
}

.login-container {
  width: 300px;
  color: #9e3f78;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;

}

form {
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}